@import "colores";

.footer {
    background: $secondary-color;
    color: $primary-color;
    text-align: right;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0px -15px 10px -10px $primary-color;
    transition: box-shadow 0.3s ease-in-out;
    .container {
        .social-icons {
            display: flex;
            justify-content: center;
        }
    }
}
