.header {
    background: $secondary-color;
    color: $primary-color;
    h1 {
        display: flex;
        font-size: 40px;
        margin-top: 40px;
        margin-left: 20px;
        font-weight: 600;
        justify-content: left;
        gap: 2px;
        &:after {
            content: "";
            width: 5px;
            height: 30px;
            background: $primary-color;
            display: inline-block;
            animation: cursor-blink 1.5s steps(2) infinite;
        }
    }
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
