.navbar {
    display: flex;
    justify-content: end;
    box-shadow: 0px 10px 10px 0px $primary-color;
    transition: box-shadow 0.3s ease-in-out;
    background: $secondary-color;
    .navbar-toggler {
        background: $primary-color;
        border-radius: 0;
        color: $secondary-color;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &:hover {
            background: $secondary-color;
            color: $primary-color;
            transition: all 0.3s ease-in-out;
        }
    }
    .nav-link {
        display: flex;
        justify-content: end;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: $primary-color;
            color: $secondary-color;
            transition: all 0.3s ease-in-out;
        }
    }
}
